.logoImg {
    padding-left: 70px;
    padding-top: 12px;
}

.affiliateNav {
    background-color: white;
}

.jobber,
.jobbers {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 187px;
}

.jobber:hover,
.jobbers:hover {
    background: linear-gradient(180deg, rgba(250, 210, 8, 0.8) 0%, #FAE008 100%);
}

.jobbers {
    margin-left: 42px;
}

.jobber {
    margin-left: 58px;
}

body {
    background-color: #f0f3f4;
    font-family: TT Norms Pro;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: TT Norms Pro;
}

.nav-link,
.nav-link:hover {
    color: black;
}

.bannerImage {
    background-color: white;
    padding: 80px 200px 80px 200px;
}

.landingpageicon {
    height: 411px;
    width: 670px;
    padding: 24px;
}

.land-font {
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 68.5501px;
    line-height: 81px;

    color: #383838;
}

.left-sub {
    font-family: TT Norms Pro;
    float: right;
    font-style: normal;
    font-weight: 400;
    font-size: 27.4201px;
    line-height: 32px;
    color: #000000;
}

.start {

    background: #FACB08;
    height: 59px;
    width: 50%;
    border-radius: 0px;
}

.start:hover {
    background: #FFF;
    border-color: #000;

}

.left-sec {
    padding: 60px;
}

.steps {
    padding: 80px 200px 80px 200px;

}

.step-1,
.step-2,
.step-3 {
    position: relative;
    Width: 400px;
    Height: 400px;
}

.step-1 img,
.step-2 img,
.step-3 img {
    padding: 5px;

}

.step-1-desc,
.step-2-desc,
.step-3-desc {
    position: absolute;
    top: 237px;
    left: 60px;
    padding: 0px 7px 15px 34px;
    width: 290px;
}

.step-1-desc p,
.step-2-desc p,
.step-3-desc p {
    font-family: TT Norms Pro;
    font-weight: 400;
    font-size: 16.1914px;
    line-height: 19px;
}

.step-1-desc h5,
.step-2-desc h5,
.step-3-desc h5 {
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 24.4732px;
    line-height: 30px;
}

.faq-accordion {
    padding: 30px 200px 80px 200px;
}

.accordion-item {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Custom style */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
    border-color: #ffffff;
}

.accordion-left,
.accordion-right {
    width: 100%;
}

.bannerImageDashboard {
    background-color: white;
    padding: 80px 120px 0px 120px;
    width: 80%;
    margin-top: 30px;
}

.land-font-dashboard {
    font-size: 55px;
    line-height: 60px;
    font-weight: bolder;
}

.left-sub-dashboard {
    font-family: TT Norms Pro;
    float: right;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.landingpageicondashboard {
    height: 304px;
    width: 488px;
}

.current-available .card-header {
    background: linear-gradient(90deg, #24911C 0%, #00761C 99.98%);
    color: #fff;
    padding: 1rem 1.5rem !important;
}

.steps-dashboard {
    padding: 40px 0px 40px 0px;
    width: 80%;
}

.bargraph {
    float: right;
    /* margin: 10px 20px 10px 20px */
}

.card {
    font-family: TT Norms Pro;
    height: 258px;
}

.current-available .card-header .head,
.total-refferals .card-header .head,
.total-earn .card-header .head {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.card-body .card-title {
    font-size: 45px;
    text-align: center;
    margin-top: 14px;
    color: #4F5E66;
}

.card-body .card-text {
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    color: #4F5E66;
    text-align: center;
}

.transfer {
    border: 0.5px solid #333333;
    font-family: TT Norms Pro;
    border-radius: 5px;
    height: 39px;
    width: 165px;
    font-weight: 800;
}

.transfer:hover {
    background-color: #FACB08;
    border: none;
}

.total-refferals .card-header {
    background: linear-gradient(90deg, #FFD500 -0.01%, #FFE000 99.99%);
    color: #000;
    padding: 1rem 1.5rem !important;
    height: 74px;
}

.total-earn .card-header {
    height: 74px;
    background: linear-gradient(90deg, #FFC437 0%, #FE9D82 99.99%);
    color: #000;
    padding: 1rem 1.5rem !important;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin: 10px 3px 2px 2px;
}

.card-header {
    border-bottom: 0px;
}

.total-earn .card-text,
.total-refferals .card-text {
    margin-top: 54px;
}

.recommend {
    background-color: #fff;
    padding: 40px 70px 40px 70px;
    width: 80%;
    margin-bottom: 40px;
}

.recommend h6 {
    font-weight: bold;
}

.news1,
.news2,
.news3,
.news4,
.news5 {
    width: 16%;
    height: 268px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 12px 0px 12px;

}

.news1 p,
.news5 p {
    font-family: TT Norms Pro;
    color: #4F5E66;
    font-weight: 100;
    font-size: 12px;
    margin-top: 8px;
}

.logoImgAffiliate {
    padding-top: 12px;
}

.navItems {
    margin-left: 80px;
}

.navItems ul li div a,
.navItems ul li a {
    margin-right: 10px;
    font-family: TT Norms Pro;
    font-weight: bolder;
    font-size: 20px;
    color: #2C3144 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #2C3144 !important;
}

.navItems ul li div a img {
    margin-right: 27px;
}

.affiliateNavLogin .container-fluid {
    width: 80%;
}

.navbar-right-section {
    list-style-type: none;
    float: right;
    display: flex;
}

.current-available .card-header a {
    color: #fff;
}

.card-header a {
    text-decoration: none;
    color: #000;
}

/* Responsive */

@media only screen and (max-width: 479px) and (min-width: 320px) {

    .bannerImage {
        padding: 80px 40px 80px 40px;
    }

    .start {
        height: 45px;
        width: 100%;
    }

    .land-font {
        font-size: 42px;
        line-height: 60px;
    }

    .left-sub {
        font-weight: 200;
        font-size: 20px;
    }

    .landingpageicon {
        height: 355px;
        width: 277px;
        padding: 0px;
    }

    .steps {
        padding: 40px 40px 40px 40px;
    }

    .step-1,
    .step-2,
    .step-3 {
        Width: 100%;
        Height: auto;
    }

    .step-1-desc,
    .step-2-desc,
    .step-3-desc {
        position: absolute;
        top: 222px;
        left: 0px;
        padding: 0px 18px 0px 22px;
        width: 100%;
    }

    .step-1-desc p,
    .step-2-desc p,
    .step-3-desc p {
        font-size: 12px;
    }

    .step-1-desc h5,
    .step-2-desc h5,
    .step-3-desc h5 {
        font-size: 23px;
    }

    .faq-accordion {
        padding: 30px 40px 80px 40px;
    }

    .accordion-left,
    .accordion-right {
        width: 100%;
    }

    .faqs p {
        font-size: 11px;
    }

    .logoImg {
        padding-left: 24px;
    }

    .navbar-light .navbar-toggler {
        margin-left: 20px;
        margin-top: 12px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 479px) {
    .steps {
        padding: 80px 20px 80px 20px;
    }

    .step-1,
    .step-2,
    .step-3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .step-1-desc,
    .step-2-desc,
    .step-3-desc {
        left: 190px;
    }


    .step-1 img,
    .step-2 img,
    .step-3 img {
        padding: 0px;
    }

    .bannerImage {
        padding: 80px 60px 80px 60px;
    }

    .left-sub {
        font-size: 16px;
        line-height: 26px;
    }

    .land-font {
        font-size: 58px;
        line-height: 62px;
    }

    .landingpageicon {
        height: 100%;
        width: 100%;
        padding: 0px;
    }

    .faq-accordion {
        padding: 30px 120px 80px 120px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 986px) {
    .steps {
        padding: 80px 50px 80px 50px;
    }

    .step-1 img,
    .step-2 img,
    .step-3 img {
        padding: 0px;
    }

    .step-1,
    .step-2,
    .step-3 {
        Width: 100%;
        Height: 100%;
    }

    .step-1-desc,
    .step-2-desc,
    .step-3-desc {
        top: 214px;
        left: 0px;
        padding: 0px 0px 15px 20px;
        width: 100%;
    }

    .bannerImage {
        padding: 80px 80px 80px 80px;
    }

    .landingpageicon {
        height: auto;
        width: 100%;
    }

    .land-font {
        font-size: 60px;
        line-height: 64px;
    }

    .left-sub {
        font-size: 22px;
    }

    .faq-accordion {
        padding: 30px 80px 80px 80px;
    }

    .landingpageicondashboard {
        width: 400px;
        height: 300px;
    }

    .land-font-dashboard {
        font-size: 47px;
        line-height: 53px;
    }

    .bannerImageDashboard {
        padding: 80px 80px 0px 80px
    }

    .left-sub-dashboard {
        font-size: 16px;
        line-height: 23px;
    }

    .navItems ul li div a,
    .navItems ul li a {
        margin-right: 8px;
        font-size: 14px;

    }

    .navItems ul li div a img {
        margin-right: 20px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0px !important;
    }

    .card-body {
        padding: 5px 10px 5px 10px !important;
    }

    .card-body .card-title {
        font-size: 38px;
    }

    .transfer {
        height: 30px;
        width: 150px;
    }

    .current-available .card-header .head,
    .total-refferals .card-header .head,
    .total-earn .card-header .head {
        font-size: 12px;
    }

    .total-earn .card-text,
    .total-refferals .card-text {
        margin-top: 47px;
    }

    .current-available .card-header {
        padding: 0.5rem 1rem !important;
    }

    .total-refferals .card-header,
    .total-earn .card-header {
        height: 57px;
        padding: 0.5rem 1rem !important;
    }

    .recommend {
        padding: 40px 40px 40px 40px;
    }
}