@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Regular.eot');
    src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
        url('TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTNormsPro-Regular.woff2') format('woff2'),
        url('TTNormsPro-Regular.woff') format('woff'),
        url('TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.logoImg {
    padding-left: 70px;
    padding-top: 12px;
}

.affiliateNav {
    background-color: white;
}

.jobber,
.jobbers {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 187px;
}

.jobber:hover,
.jobbers:hover {
    background: linear-gradient(180deg, rgba(250, 210, 8, 0.8) 0%, #FAE008 100%);
}

.jobbers {
    margin-left: 42px;
}

.jobber {
    margin-left: 58px;
}

body {
    background-color: #f0f3f4;
    font-family: 'TT Norms Pro';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'TT Norms Pro';
}

.ref-tab {
    font-family: TT Norms Pro;
    font-weight: lighter;
    width: -moz-fit-content;
    width: fit-content;
    width: 100%;
    height: 100px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    background-color: #ffffff;
    color: #636466;
    padding: 0px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 5%);
    line-height: 0px;
    text-align: center;
    text-decoration: none;
  }

  .ref-tab h4 {
    text-align: center;
    padding: 9px;
    margin-bottom: 0px;
  }
    
  .ref-tab .active {
    background: #FACB08;
  }
  .clientTab {
    border-radius: 5px 45px 45px 5px;
    height: 100px;
    padding-block: 20px;

  }
  .clientTab a{
    text-decoration: none;
    color: #636466;
    font-family: TT Norms Pro;
    font-size: 15px;
    font-weight: lighter;
  }
  .affiliateTab {
    border-radius: 45px 5px 5px 45px;
    height: 100px;
    padding-block: 20px;
    
  }
  .affiliateTab a{
    text-decoration: none;
    color: #636466;
    font-family: TT Norms Pro;
    font-size: 15px;
    font-weight: lighter;
  }

  .transferTab {
    border-radius: 5px 45px 45px 5px;
    height: 100px;
    padding-block: 20px;

  }
  .transferTab a{
    text-decoration: none;
    color: #636466;
    font-family: TT Norms Pro;
    font-size: 15px;
    font-weight: lighter;
  }
  .historyTab {
    border-radius: 45px 5px 5px 45px;
    height: 100px;
    padding-block: 20px;
    
  }
  .historyTab a{
    text-decoration: none;
    color: #636466;
    font-family: TT Norms Pro;
    font-size: 15px;
    font-weight: lighter;
  }

.nav-link,
.nav-link:hover {
    color: black;
}

.navbar-right-section .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.nav-item {
    list-style-type: none;

}


.bannerImage {
    background-color: white;
    padding: 80px 200px 80px 200px;
}

.landingpageicon {
    height: 411px;
    width: 670px;
    padding: 24px;
}

.land-font {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 68.5501px;
    line-height: 81px;

    color: #383838;
}

.left-sub {
    font-family: 'TT Norms Pro';
    float: right;
    font-style: normal;
    font-weight: 400;
    font-size: 27.4201px;
    line-height: 32px;
    color: #000000;
}

.start {

    background: #FACB08;
    height: 59px;
    width: 50%;
    border-radius: 0px;
}

.start:hover {
    background: #FFF;
    border-color: #000;

}

.left-sec {
    padding: 60px;
}

.steps {
    padding: 80px 200px 80px 200px;

}

.step-1,
.step-2,
.step-3 {
    position: relative;
    Width: 400px;
    Height: 400px;
}

.step-1 img,
.step-2 img,
.step-3 img {
    padding: 5px;

}

.step-1-desc,
.step-2-desc,
.step-3-desc {
    position: absolute;
    top: 237px;
    left: 60px;
    padding: 0px 7px 15px 34px;
    width: 290px;
}

.step-1-desc p,
.step-2-desc p,
.step-3-desc p {
    font-family: 'TT Norms Pro';
    font-weight: 400;
    font-size: 16.1914px;
    line-height: 19px;
}

.step-1-desc h5,
.step-2-desc h5,
.step-3-desc h5 {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24.4732px;
    line-height: 30px;
}

.faq-accordion {
    padding: 30px 200px 80px 200px;
}

.accordion-item {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Custom style */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
    border-color: #ffffff;
}

.accordion-left,
.accordion-right {
    width: 100%;
}

.bannerImageDashboard {
    background-color: white;
    padding: 80px 120px 0px 120px;
    width: 80%;
    margin-top: 30px;
}

.dash {
    margin-bottom: 20px;
}
.dash .card {
    height: 300px !important;

}
.land-font-dashboard {
    font-size: 55px;
    line-height: 60px;
    font-weight: bolder;
}

.left-sub-dashboard {
    font-family: 'TT Norms Pro';
    float: right;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.landingpageicondashboard {
    height: 304px;
    width: 488px;
}

.current-available .card-header {
    background: linear-gradient(90deg, #24911C 0%, #00761C 99.98%);
    color: #fff;
    padding: 1rem 1.5rem !important;
}

.steps-dashboard {
    padding: 40px 0px 40px 0px;
    width: 80%;
}

.bargraph {
    float: right;
    /* margin: 10px 20px 10px 20px */
}

.card {
    font-family: 'TT Norms Pro';
    /* height: 258px; */
}

.current-available .card-header .head,
.total-refferals .card-header .head,
.total-earn .card-header .head {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.card-body .card-title {
    font-size: 35px;
    text-align: center;
    margin-top: 14px;
    color: #4F5E66;
}

.card-body .card-text {
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    color: #4F5E66;
    text-align: center;
}

.card-body {
    background-color: #fff;
}

.transfer {
    border: 0.5px solid #333333;
    font-family: 'TT Norms Pro';
    border-radius: 5px;
    height: 40px;
    width: 165px;
    font-weight: 800;
    padding: 0.25rem 0.75rem !important;
}

.transfer:hover {
    background-color: #FACB08;
    border: none;
}

.total-refferals .card-header {
    background: linear-gradient(90deg, #FFD500 -0.01%, #FFE000 99.99%);
    color: #000;
    padding: 1rem 1.5rem !important;
    height: 74px;
}

.total-earn .card-header {
    height: 74px;
    background: linear-gradient(90deg, #FFC437 0%, #FE9D82 99.99%);
    color: #000;
    padding: 1rem 1.5rem !important;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin: 10px 3px 2px 2px;
}

.card-header {
    border-bottom: 0px;
}

.total-earn .card-text,
.total-refferals .card-text {
    margin-top: 54px;
}

.recommend {
    background-color: #fff;
    padding: 40px 70px 40px 70px;
    width: 80%;
    margin-bottom: 40px;
}

.recommend h6 {
    font-weight: bold;
}

.news1,
.news2,
.news3,
.news4,
.news5 {
    width: 16%;
    /* height: 268px; */
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 12px 0px 12px;

}

.news1 p,
.news5 p {
    font-family: 'TT Norms Pro';
    color: #4F5E66;
    font-weight: 100;
    font-size: 12px;
    margin-top: 8px;
}

.logoImgAffiliate {
    padding-top: 12px;
}

.navItems {
    margin-left: 80px;
}

.navItems ul li div a,
.navItems ul li a {
    margin-right: 10px;
    font-family: 'TT Norms Pro';
    font-weight: bolder;
    font-size: 20px;
    color: #2C3144 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #2C3144 !important;
}

.navItems ul li div a img {
    margin-right: 27px;
}

.affiliateNavLogin .container-fluid {
    width: 80%;
}

.navbar-right-section {
    list-style-type: none;
    float: right;
    display: contents;
}

.current-available .card-header a {
    color: #fff;
}

.card-header a {
    text-decoration: none;
    color: #000;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(240 243 244) !important;
}

/* 
*
News 
*
*/

.news {
    padding: 0px 200px 80px 200px;
}

.news-left-section {
    background: #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    /* height: 34%; */
    /* height: 100%; */
    margin-top: 60px;

}
.news-left-container{
    height: 95%;
    background-color: #fff;
    border-radius: 30px 30px 30px 30px;
    padding-bottom: 0;
}

.news-banner {
    height: auto;
    width: 100%;
}

.news-banner img,
.news-banner video {
    height: 380px;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

.news-desc {
    margin: 50px 50px 5px 20px;
    /* height: 350px; */
}
.news-desc hr {
    border-bottom: 1px solid #ccc;
    margin: 10px -50px 20px -20px; 
    
    border: 0;
    border-top: 1px solid #c9c7c7;
}

.news-sub-desc {
    margin-top: 20px;
}

.checkout-news {
   
    background: #FAE008;
    width: 95%;
    height: 50px;
    border-radius: 0px !important;
}

.checkout-news:hover {
    background: #fff;
    border: 0.5px solid black;
}

.news-desc-hr {
    border-bottom: 1px solid #EDF0FD;
    margin: 10px 0px 30px 0px;
}

.news-bottom {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 0px 0px 30px 30px !important;
    display: contents;
}

.news-right-section {
    position: fixed;
    display: block;
}

.head-news-right-section {
    background-color: #fff;
    height: 50%;
    border-radius: 30px 30px 30px 30px;
    margin: 60px 0px 40px 40px;
    float: right;
}

.share-news-right-section {
    height: 20%;
    background-color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin: 60px 40px 40px 40px;
    float: right;
    align-content: center;
    align-items: center;
    text-align: center;
}
.share-news-image{
    width: 100%;
}
.share-news-right-section p {
    margin-bottom:10px;
}

.share-news-image li {
    margin-right: 25px;
}
.share-news-image ul {
    justify-content: center;
     display: flex;
     margin-left: 10px;
}

.news-head {
    list-style-type: none;
    margin: 36px 20px 30px 20px;
}

.news-head h3 {
    font-size: 18px;
}

.news-head p {
    font-size: 12px;
}

.share-news-right-section p {
    margin: 30px 50px 30px 50px
}

.no-news-left-section {
    margin: 60px 40px 40px 40px;
    background-color: #fff;
    height: 20%;
    border-radius: 30px 30px 30px 30px;
    padding: 40px;
    text-align: center;
}

.no-news-left-section p {
    margin-top: -10px;
}

/* 
About
*/

.aboutUs {
    background-color: #fff;
    padding: 45px 90px 45px 90px;
    text-align: center;
    margin-top: 60px;
}

.aboutUs p {
    color: #383838;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
}

.aboutUs b {
    font-size: 34px;
}

.learn {
    background: #FACB08;
    height: 40px;
    max-width: 70%;
    min-width: 40%;
    border-radius: 0px;
}

.aboutright {
    background: #FACB08;
    padding: 50px 30px 40px 80px;
    height: 430px
}

.aboutright b {
    font-size: 38px;
}

.aboutright h6 {
    margin: 20px 0px 20px 0px;
    font-size: 24px;
    font-weight: 300;
    color: #515154;
}
.aboutright ul {
    font-size: 1em;
}
.aboutright p {
    color: #383838;

}

.aboutleft {
    background: #FFF;
    padding: 40px 30px 40px 80px;
    height: 430px;
}

.about,
.about-sub,
.client-count {
    padding: 0px 200px 80px 200px;
}

.aboutus-icon {
    width: 100px;
    text-align: center;
}

.aboutus-icon img {
    width: 100%;
    height: 100%;
}

.aboutus-icon p {
    font-weight: lighter;
    font-size: 11px;
    line-height: 13px;
    margin: 15px 0px 15px 0px;
}

.count-banner {
    background-color: #fff;
    padding: 90px 90px 90px 90px;
    text-align: center;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.about-sub .row {
    display: table;
    width: 100%;
}

.about-sub .row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.count-banner h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
}

.count-banner p {
    font-weight: 300;
    font-size: 17.8691px;
    line-height: 21px;
}

/* 
    ToolBox
*/

.toolbox {
    padding: 0px 200px 80px 200px;
}

.toolbox-sec {
    height: 40%;
    background-color: #fff;
    margin-top: 60px;
}

.toolbox-right-sec {
    padding: 20px 20px 20px 60px;
    height: 100%;
}

.toolbox-right-desc {
    margin: 30px 0px 30px 0px;
    color: #383838;
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 300;
    line-height: 147%;
    letter-spacing: 0em;
}

.startCopy {
    background: #FACB08;
    height: 10%;
    width: 50%;
    border-radius: 0px;
    margin-top: 10px;
}

.toolbox-right-sub-head {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 28px;
    color: #515154;
}

.toolbox-left-sec {
    height: 100%;
}

.load {
    border: 0.5px black;
    background-color: #fff;
    width: 20%;
    text-align: center;
    margin-top: 40px;
}

.loadImg img {
    width: 7%;
    margin-left: 14px;
}

/* Responsive */

@media only screen and (max-width: 479px) and (min-width: 280px) {

    .navbar-light .navbar-toggler {
        margin: 0px;
    }

    .nav-link {
        display: inline-block;
        padding-left: 0px;
    }

    .navbar-right-section {
        display: flex;
        flex-direction: row !important;
        float: left;
    }

    .current-available .card-header {
        height: 74px;
    }

    .bargraph {
        width: 20%;
        height: 70%;
    }

    .current-available .card-header .head,
    .total-refferals .card-header .head,
    .total-earn .card-header .head {
        font-size: 13px;
    }

    .bannerImage {
        padding: 80px 40px 80px 40px;
    }

    .start {
        height: 45px;
        width: 100%;
    }

    .land-font {
        font-size: 42px;
        line-height: 60px;
    }

    .left-sub {
        font-weight: 200;
        font-size: 20px;
    }

    .landingpageicon {
        height: auto;
        width: auto;
        padding: 0px;
        padding-top: 32px;
    }

    .steps {
        padding: 40px 20px 40px 20px;
    }

    .step-1,
    .step-2,
    .step-3 {
        Width: 100%;
        Height: auto;
    }

    .step-1-desc,
    .step-2-desc,
    .step-3-desc {
        position: absolute;
        top: 240px;
        left: 0px;
        padding: 0px 18px 0px 22px;
        width: 100%;
    }

    .step-1-desc p,
    .step-2-desc p,
    .step-3-desc p {
        font-size: 10px;
    }

    .step-1-desc h5,
    .step-2-desc h5,
    .step-3-desc h5 {
        font-size: 16px;
    }

    .faq-accordion {
        padding: 30px 20px 80px 20px;
    }

    .accordion-left,
    .accordion-right {
        width: 100%;
    }

    .faqs p {
        font-size: 11px;
    }

    .logoImg {
        padding-left: 24px;
    }

    .navbar-light .navbar-toggler {
        margin-left: 20px;
        margin-top: 12px;
    }

    .bannerImageDashboard {
        padding: 60px 60px 0px 60px;
        width: 100%;
    }

    .landingpageicondashboard {
        height: 100%;
        width: 100%;
    }

    .left-sub-dashboard {
        font-size: 14px;
        line-height: 27px;
    }

    .bannerImageDashboard .pull-right {
        margin: 8px 0px 8px 0px;
        float: left;
    }

    .total-earn,
    .total-refferals {
        margin-top: 20px;
    }

    .news1,
    .news2,
    .news3,
    .news4,
    .news5 {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    .steps-dashboard {
        padding: 40px 40px 40px 40px;
        width: 100%;
    }

    .news-right-section ul {
        padding: 0px;
    }

    .recommend {
        padding: 40px 40px 40px 40px;
        width: 100%;
        /* margin: 0px 40px 0px 40px; */
    }

    .recommend h6 {
        font-size: 22px;
    }

    .news1 img,
    .news2 img,
    .news3 img,
    .news4 img,
    .news5 img {
        width: auto;
    }

    .sub-cont {
        display: none;
    }

    .land-font-dashboard {
        font-size: 39px;
    }

    .card {
        height: 285px;
    }

    .navItems {
        margin-left: 0px;
    }

    .news {
        padding: 0px 30px 80px 30px;
    }

    .news-banner img,
    .news-banner video {
        object-fit: cover;
    }

    .news-desc {
        margin: 30px 30px 5px 20px;
    }

    .news-desc h3 {
        font-size: 18px;
    }

    .news-sub-desc b,
    .desc {
        font-size: 11px;
    }

    .news-right-section {
        position: unset;
        padding: 0px 10px 0px 10px;
    }

    .head-news-right-section {
        margin: 220px 0px 40px 0px;
    }

    .share-news-right-section {
        margin: 40px 0px 40px 0px;
    }

    .share-news-right-section p {
        margin: 30px 30px 30px 30px;
    }

    .news-head h3 b {
        font-size: 16px;
    }

    .share-news-right-section p {
        font-size: 12px;
    }

    .affiliateNavLogin .container-fluid {
        width: 100%;
    }

    .about,
    .about-sub,
    .client-count {
        padding: 0px 50px 50px 50px;
    }

    .aboutUs {
        padding: 45px 10px 45px 10px;
    }

    .aboutUs b {
        font-size: 24px;
    }

    .aboutUs p {
        font-size: 12px;
        text-align: center;
    }

    .learn {
        width: 70%;
    }

    .aboutleft {
        padding: 40px;
        height: auto;
    }

    .aboutus-icon img {
        width: 50%;
        height: auto;
    }

    .about-sub .row {
        display: flex;
        width: auto;
    }

    .aboutus-icon {
        width: auto;
    }

    .aboutright {
        padding: 45px 10px 45px 10px
    }

    .aboutright b {
        font-size: 20px;
    }

    .aboutright h6 {
        font-size: 18px;
    }

    .aboutright p {
        font-size: 14px;
    }

    .count-banner {
        padding: 45px 10px 45px 10px;
    }

    .count-banner p {
        font-size: 16px;
    }

    .count-banner .row div {
        margin-bottom: 40px;
    }

    .toolbox {
        padding: 0px 40px 40px 40px;
    }

    .toolbox-right-sec {
        padding: 20px 20px 20px 20px;
    }

}

@media only screen and (max-width: 736px) and (min-width: 414px) {

    .news-sub-desc b,
    .desc {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 479px) {
    .navItems {
        margin-left: 0px;
    }

    .navbar-light .navbar-toggler {
        margin: 0px;
    }

    .nav-link {
        display: inline-block;
    }

    .navbar-right-section {
        display: flex;
        flex-direction: row !important;
        float: left;
    }

    .steps {
        padding: 80px 20px 80px 20px;
    }

    .step-1,
    .step-2,
    .step-3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .step-1-desc,
    .step-2-desc,
    .step-3-desc {
        left: 190px;
    }


    .step-1 img,
    .step-2 img,
    .step-3 img {
        padding: 0px;
    }

    .bannerImage {
        padding: 80px 60px 80px 60px;
    }

    .left-sub {
        font-size: 16px;
        line-height: 26px;
    }

    .land-font {
        font-size: 58px;
        line-height: 62px;
    }

    .landingpageicon {
        height: 100%;
        width: 100%;
        padding: 0px;
    }

    .faq-accordion {
        padding: 30px 120px 80px 120px;
    }

    .bannerImageDashboard {
        padding: 80px 80px 40px 80px;
        width: 100%;
    }

    .bannerImageDashboard .pull-right {
        float: left !important;
    }

    .land-font-dashboard {
        font-size: 40px;
        line-height: 50px;
    }

    .news-left-section {
        /* height: 375px; */
    }

    .landingpageicondashboard {
        height: auto;
        width: auto;
    }

    .left-sub-dashboard {
        font-size: 14px;
        line-height: 27px;
    }

    .steps-dashboard {
        padding: 40px 40px 40px 40px;
        width: 100%;
    }

    .current-available .card-header,
    .total-refferals .card-header,
    .total-earn .card-header {
        padding: 1rem 1rem !important;
    }

    .current-available .card-header .head,
    .total-refferals .card-header .head,
    .total-earn .card-header .head {
        font-size: 10px;
    }

    .bargraph {
        width: 30px;
    }

    .current-available .card-header {
        height: 74px;
    }

    .card-body .card-title {
        font-size: 36px;
    }

    .card-body .card-text {
        font-size: 12px;
    }

    .total-earn .card-text,
    .total-refferals .card-text {
        margin-top: 50px;
    }

    .transfer {
        width: 138px;
    }

    .card {
        height: 240px;
    }

    .news1 img,
    .news2 img,
    .news3 img,
    .news4 img,
    .news5 img {
        width: auto;
        height: auto;
    }

    .news1 p,
    .news5 p {
        font-size: 6px;
        display: none;
    }

    .recommend {
        padding: 40px 40px 40px 40px;
        width: 100%;
    }

    .recommend h6 {
        font-size: 24px;
    }

    .news {
        padding: 0px 80px 0px 80px;
    }

    .news-desc {
        margin: 50px 5px 5px 20px;
    }

    .news-sub-desc,
    .desc {
        font-size: 15px;
    }

    .news-desc b {
        font-size: 20px;
    }

    .head-news-right-section {
        margin: 230px 0px 0px 0px;
    }

    .head-news-right-section ul {
        padding: 0px !important;
        margin: 0px !important;
    }

    .share-news-right-section {
        margin: 40px 0px 30px 0px;
    }

    .news-right-section {
        position: unset;
        padding: 0px 10px 0px 10px;

    }

    .news-desc b {
        font-size: 18px;
    }

    .news-sub-desc,
    .desc {
        font-size: 12px;
    }

    .share-news-right-section p {
        margin: 30px 30px 30px 30px;
    }

    .aboutUs {
        padding: 45px 20px 45px 20px;
    }

    .aboutUs b {
        font-size: 30px;
    }

    .about,
    .about-sub,
    .client-count {
        padding: 0px 80px 80px 80px;
    }

    .learn {
        width: 40%;
    }

    .aboutleft,
    .aboutright {
        padding: 80px 40px 40px 40px;
    }

    .about-sub .row {
        display: flex;
        width: auto;
    }

    .aboutus-icon img {
        width: auto;
    }

    .aboutus-icon {
        width: 100%;
        text-align: center;
    }

    .count-banner {
        padding: 90px 60px 90px 60px;
    }

    .count-banner h1 {
        font-weight: 700;
        font-size: 46px;
    }

    .count-banner p {
        font-size: 12px;
    }

    .aboutleft {
        height: auto;
    }

    .aboutright b {
        font-size: 25px;
    }

    .aboutright p {
        font-size: 14px;
    }

    .aboutus-icon p {
        font-size: 14px;
    }

    .news1,
    .news2,
    .news3,
    .news4,
    .news5 {
        text-align: center;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .toolbox {
        padding: 0px 100px 80px 100px;
    }
}

@media only screen and (max-width: 995px) and (min-width: 769px) {

    .affiliateNavLogin .container-fluid {
        width: 100%;
    }

    .bannerImageDashboard {
        padding: 80px 80px 0px 80px;
    }

    .bannerImage {
        padding: 80px 80px 80px 80px;
    }

    .land-font {
        font-size: 57px;
        line-height: 65px;
    }

    .left-sub {
        font-size: 20px;
        line-height: 28px;
    }

    .landingpageicon {
        width: 100%;
        height: 80%;
        padding: 0px;
    }

    .land-font-dashboard {
        font-size: 39px;
    }

    .left-sub-dashboard {
        font-size: 10px;
    }

    .landingpageicondashboard {
        height: 268px;
        width: 293px;
    }

    .bargraph {
        width: 25px;
    }

    .current-available .card-header .head,
    .total-refferals .card-header .head,
    .total-earn .card-header .head {
        font-size: 9px;
    }

    .recommend {
        padding: 40px 40px 40px 40px;
    }

    .news1 img,
    .news2 img,
    .news3 img,
    .news4 img,
    .news5 img {
        width: 90px;
        height: 130px;
    }

    .about,
    .about-sub,
    .client-count {
        padding: 0px 80px 80px 80px;
    }

    .aboutright {
        padding: 50px 30px 40px 30px
    }

    .aboutright p {
        font-size: 14px;
    }

    .about-sub .row {
        display: flex;
        width: auto;
    }

    .count-banner h1 {
        font-size: 46px;
    }

    .count-banner p {
        font-size: 12px;
    }

    .desc {
        font-size: 13px;
    }

    .news-right-section {
        position: unset;
    }

    .head-news-right-section {
        margin: 220px 0px 40px 0px;
    }

    .share-news-right-section {
        margin: 40px 0px 40px 0px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 986px) {
    .navbar-right-section .nav-item {
        margin: 0px 5px 0px 5px;
    }

    .steps {
        padding: 80px 50px 80px 50px;
    }

    .step-1 img,
    .step-2 img,
    .step-3 img {
        padding: 0px;
    }

    .step-1,
    .step-2,
    .step-3 {
        Width: 100%;
        Height: 100%;
    }

    .step-1-desc,
    .step-2-desc,
    .step-3-desc {
        top: 214px;
        left: 0px;
        padding: 0px 0px 15px 20px;
        width: 100%;
    }

    .bannerImage {
        padding: 80px 80px 80px 80px;
    }

    .landingpageicon {
        height: auto;
        width: 100%;
    }

    .land-font {
        font-size: 60px;
        line-height: 64px;
    }

    .left-sub {
        font-size: 22px;
    }

    .faq-accordion {
        padding: 30px 80px 80px 80px;
    }

    .landingpageicondashboard {
        width: 400px;
        height: 300px;
    }

    .land-font-dashboard {
        font-size: 47px;
        line-height: 53px;
    }

    .bannerImageDashboard {
        padding: 80px 80px 0px 80px
    }

    .left-sub-dashboard {
        font-size: 16px;
        line-height: 23px;
    }

    .navItems ul li div a,
    .navItems ul li a {
        margin-right: 8px;
        font-size: 14px;

    }

    .navItems ul li div a img {
        margin-right: 20px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0px !important;
    }

    .card-body {
        padding: 5px 10px 5px 10px !important;
    }

    .card-body .card-title {
        font-size: 38px;
    }

    .transfer {
        height: 30px;
        width: 150px;
    }

    .current-available .card-header .head,
    .total-refferals .card-header .head,
    .total-earn .card-header .head {
        font-size: 12px;
    }

    .total-earn .card-text,
    .total-refferals .card-text {
        margin-top: 47px;
    }

    .current-available .card-header {
        padding: 0.5rem 1rem !important;
    }

    .total-refferals .card-header,
    .total-earn .card-header {
        height: 57px;
        padding: 0.5rem 1rem !important;
    }

    .recommend {
        padding: 40px 40px 40px 40px;
    }

    .news1 img,
    .news2 img,
    .news3 img,
    .news4 img,
    .news5 img {
        width: 140px;
        height: 200px;
    }

    .news {
        padding: 0px 80px 0px 80px;
    }

    .affiliateNavLogin .container-fluid {
        width: 100%;
    }

    .news-desc {
        margin: 30px 30px 5px 20px;
    }

    .desc {
        padding: 0px 20px 20px 0px;
    }

    .news-desc h3 {
        font-size: 20px;
    }

    .news-sub-desc b {
        font-size: 14px;
    }

    .desc {
        font-size: 15px;
    }

    .news-right-section {
        width: 35%;
    }

    .about,
    .about-sub,
    .client-count {
        padding: 0px 80px 80px 80px;
    }

    .aboutright {
        padding: 50px 30px 40px 30px
    }

    .aboutright p {
        font-size: 14px;
    }

    .toolbox-right-sec {
        padding: 20px 20px 20px 20px;
        height: 100%;
    }

    .toolbox-right-desc {
        font-size: 12px;
        margin: 20px 0px 20px 0px;
    }

    .toolbox-right-sub-head {
        font-size: 17px;
    }

    .toolbox-right-sec h1 {
        font-size: 26px;
    }

    .toolbox-left-sec {
        height: 100%;
    }

    .toolbox-left-sec img{
        object-fit: cover;
    }
}

@media only screen and (max-width: 1453px) and (min-width: 1025px) {

    .bannerImage {
        padding: 80px    ;
    }

    .land-font {
        font-size: 56px;
        line-height: 65px;
    }

    .left-sub {
        font-size: 24px;
    }

    .landingpageicon {
        width: auto;
        height: auto;
        padding: 0px;
    }

    .steps {
        padding: 80px;
    }

    .step-1, .step-2, .step-3{
        width: auto;
        height: auto;
    }

    .step-1-desc, .step-2-desc, .step-3-desc {
        top: 198px;
        left: 0px;
    }

    .step-1-desc h5, .step-2-desc h5, .step-3-desc h5{
                font-size: 20px;
    }

    .step-1-desc p, .step-2-desc p, .step-3-desc p{
        font-size: 12px;
    }

    .faq-accordion {
        padding: 30px 80px 80px 80px;
    }

    .step-1-desc, .step-2-desc, .step-3-desc {
        width: auto;
    }

    .bannerImageDashboard {
        padding: 80px 90px 0px 90px;
    }

    .affiliateNavLogin .container-fluid {
        width: 100%;
    }

    .bargraph {
        width: 25px;
    }

    .current-available .card-header .head,
    .total-refferals .card-header .head,
    .total-earn .card-header .head {
        font-size: 15px;
    }

    .total-earn .card-text,
    .total-refferals .card-text {
        margin-top: 42px;
    }

    .recommend {
        padding: 40px 40px 40px 40px;
    }

    .landingpageicondashboard {
        height: 274px;
        width: 391px;
    }

    .news1 img,
    .news2 img,
    .news3 img,
    .news4 img,
    .news5 img {
        width: 140px;
        height: 200px;
    }

    .news {
        padding: 0px 80px 80px 80px;
    }

    .news-sub-desc b,
    .desc {
        font-size: 14px;
    }


    .about,
    .about-sub,
    .client-count {
        padding: 0px 80px 80px 80px;
    }

    .aboutright {
        padding: 50px 30px 40px 30px
    }

    .aboutright p {
        font-size: 14px;
    }

    .toolbox-left-sec {
        height: 100%;
    } 

}
