@import url("https://fonts.googleapis.com/css2?family=TT+norms:wght@400;500;600;700;800&display=swap");
@import url("../fonts/TTNorms-Black.otf");
@import url("../fonts/TTNorms-Bold.otf");
@import url("../fonts/TTNorms-Regular.otf");

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Regular.eot');
    src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
        url('TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTNormsPro-Regular.woff2') format('woff2'),
        url('TTNormsPro-Regular.woff') format('woff'),
        url('TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


a {
    text-decoration: none;
}

body {
    background-color: #F6F7FB;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

input {
    border-radius: 10px;
}

.login .signin-right {
    margin-top: 29px;
    margin-bottom: 17px;
    padding-right: 30px;
}
.checkcolor {
    accent-color: #f9bf29;
  }
  
  select,
  textarea,
  input [type="text"],
  input [type="number"],
  input [type="password"],
  input [type="date"],
  input [type="email"],
  input [type="phone"]
  {
    padding: 10px;
  }
#activity {
    margin:20px;
    margin-top: 10px;
    margin-right: 100px;
    display: absolute;
  }
  
  .divs {  
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 1px;
    width: 50px;
  }
  /* .divs img {
    width: 100%;
    height: auto;  
  } */

.login .header-sec {
    display: flex;
    justify-content: space-between;
    background-color: white;

}

.login .left-sec {
    display: flex;
    background: white;
}

.login .left-sec a {
    font-family: TT Norms Pro;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #313445;;
    display: flex;
    align-items: center;
}

.applicant a {
    min-height: 25px;
    padding-left: 30px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 111px;
    text-decoration: none;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    display: block;
    
}
.applicant a:hover {
    background-color: hsl(51, 94%, 50%);
}
.applicant img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 768px) and (min-width: 370px)
{
 .login .left-sec a {
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
}

.applicant a {
    margin-left: 30px;
    margin-right: 20px;
    text-align:center;
    width: 120px;
    font-size: 12px;
}
.affiliate a {
    margin-left: 20px;
    text-align:center;
    width: 100px;
    font-size: 12px;
    content: "Affiliate"; 
}

}

.myapplicant a {
    width:240px;
    height: 40px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 17px;
    margin-left: 111px;
    text-align:center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #e9ebf0;
    min-height: 60px;
}
.myapplicant img {
    width: 100%;
    height: auto;
}
.myapplicant a:hover {
    min-height: 60px;
    background-color: hsl(51, 94%, 50%);
}

@media only screen and (max-width: 768px) and (min-width: 370px)
{
.myapplicant a {
    height: 60px;
    padding-left: 15px;

    margin-left: 20px;
    text-align:center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #e9ebf0;
    min-height: 40px;
    width: 180px;
}
}

.affiliate a {
    min-height: 25px;
    padding: 10px;
    margin: 17px;
    margin-bottom: 17px;
    margin-left: 111px;
    text-decoration: none;
    border-radius: 10px;
    content: 'Affiliate Partner';
}
.affiliate a:hover {
    background-color: hsl(51, 94%, 50%);
}
.affiliate img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 768px) and (min-width: 370px)
{
.affiliate a {
    margin-left: 20px;
    text-align:center;
    content: 'Affiliate';
}

.logg a {
    margin-left: 5px;
    font-size: 12px;
    width: 120px;
    text-align:center;
    content: 'Affiliate';
}

}
.login .signin-right a {
    display: flex;
    align-items: center;
    font-family: TT Norms Pro;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #313445;
    float: right;

}


.login .signin-right img {

    padding-right: 10px;
}

.login .applicant a span img,
.login .affiliate a span img {
    width: 30px;
    margin-top: 10px;
}

.login .applicant a,
.login .affiliate a {

    background: #F0F3F4;
    padding: 7px;
    border-radius: 10px;
}

.logo a {
    font-family: "TT Norms Pro";
    font-weight: 900;
    font-style: normal;
    /* font-size: 60px; */
}
.logo img {
    width: 100%;
    height: auto;
    content:url("{{asset('images/logo.png')}}");

    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 111px;
    /* height: 50px; */
    
}


@media only screen and (max-width: 768px) and (min-width: 370px)
{
    .logo img {
        width: 100%;
        height: auto;
        content:url("../images/logo2.png");
    
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 111px;
        /* height: 50px; */
        
    }
    
}


.form-sec1 {
    width: 560px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 70px 100px 70px 100px;
    background-color: #ffffff;
    margin-bottom: 420px;
    margin-top: 250px;
    color: #636466;
}

.form-sec1 h3 {
    font-family: TT Norms Pro;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0px;
}

@media only screen and (max-width: 768px) and (min-width: 370px)
{
    .form-sec1 {
        padding: 20px 203px 20px 203px;
        margin-top: 50px;
    }
    
.form-sec1 h3 {
    font-size: 30px;
}

.form-sec1 p {
    font-size: 12px;
}

}
.form-sec1 p {
    font-family: TT Norms Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5px;
}

.form-sec1 input {
    height: 54px;
    width: 358px;
    border: 0.5px solid #C4C6CD;
    /* border-radius: 0px; */
    margin-bottom: 13px;
}

.form-sec1 label {
    font-family: TT Norms Pro;
    font-size: 20px;
    font-weight: 400;
    color: #636466;
    padding-bottom: 6px;
    display: inline-flex;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.form-sec1 button {
    height: 60px;
    width: 358px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;

    /* border-radius: 0px; */
    padding: 10px;
    font-family: TT Norms Pro;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #606060;

    margin-top: 30px;
}

.form-sec1 .bottom-sec {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-sec1 .bottom-sec a {
    font-family: TT Norms Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #636466;

}

.form-sec1 .tab-sec {
    display: flex;
    justify-content: space-around;
    margin-bottom: 62px;

    margin-top: 61px;

}

.form-sec1 .tab-sec a {
    font-family: TT Norms Pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #636466;
    text-align: center;
}

.form-sec1 input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.form-sec1 .check-box {
    display: flex;
}

.form-sec1 .check-box p {
    margin: 0px;
    font-family: TT Norms Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

@media (min-width:375px) and (max-width:768px) {
.form-sec1 .check-box p {
    font-size: 12px;
}
}

.form-sec1 .check-box p a {
    color: #4B73DE
}

.submitBtn:hover {
    background: linear-gradient(90deg, #FACB08 2.41%, #FAE008 90.98%);
    border-color: none;
    color: #000;
}

.submitBtn {
    background-color: #F6F7FB;
    border-style: hidden;
}

.signupBtn {
    border-bottom: 1.5px solid #f9bf29;
    width: 132px;
    color: #F6F6F6;
    background-color: none;

}

.forgot-password {
    width: 50%;
    max-width: 100%;
    /* margin-left: 70px;
    margin-right: auto; */
    margin: 0 auto;
    padding: 70px 70px 70px 70px;
    background-color: #ffffff;
    margin-bottom: 70px;
    margin-top: 70px;
    color: #636466;
    align-content: center;
    height: 760px;
}
.forgot-password .btn {
    font-size: 27px;
    margin: 0 auto;
    /* margin-left: 100px; */
}

@media (min-width:375px) and (max-width:768px) {

    .forgot-password {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        padding: 30px;
        margin-bottom: 30px;
        margin-top: 30px;
        height: 500px;
    }

}

.signature {
    width:40%;

    padding: 120px 120px 120px 120px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    color: #000;
    align-content: center;
    height: 750px;
    border-radius: 10px;

}

.signature img {
    margin-block: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 280px;
    padding: 50px;

}

@media (min-width:375px) and (max-width:768px){
    .signature {
        width:96%;
        padding: 20px 10px 70px 10px;
        margin: 0 auto;
        margin-bottom: 70px;
        height: 650px;

    }

    .signature h1 {
        font-size: 25px;
    }

    .signature img {
        width: 180px;
        height: 200px;
        padding: 50px;
    }
}


.signature button {
    margin: auto;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    bottom: 5px;
    background-color: none;
    border-color: #606060 1px solid;
    color:#000;
    font-family: "TT Norms Pro";
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 0 0.7px #ccc;
} 

.signature button:hover{
    background-color: #f9bf29;
    border-color: #f9bf29;
} 

.resetPassword {
    margin-top: 195px;
    width: 434px;
}

.input-with-icon {
    /* causes absolute icon div to be positioned correctly */
    position: relative;

    width: 25rem;
    height: 3.2rem;
    box-sizing: border-box;
}

.input-with-icon .form-control {
    height: 100%;
    width: 100%;
    padding-right: 3.65rem;
    box-sizing: border-box;
}

.input-with-icon .icon {
    position: absolute;

    /* These are set relative to the height of the input box to bound the box neatly inside. This is aesthetic to me but you may change the dimensions of course. */
    right: 0.3rem;
    top: 0.3rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.3rem;

    /* content in the icon div is centered, without bootstrap or font-awesome you may wish to add your own text in the span */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input-with-icon {
    margin: 0.8rem;
}

.input-with-icon .form-control {
    padding-left: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.input-with-icon .icon {
    border: 1px solid black;
}

.passwordInput {
    box-sizing: border-box;
    padding-left: 10px;
    vertical-align: top;
}

.passwordInput:focus {
    outline: none;
}

.hiddenIcon,
.viewIcon {
    position: absolute;
    top: 12px;
    right: 25px;
}

.viewIcon,
.confirmation_viewIcon {
    width: 30px;
}

.inputs-icon {
    position: relative;
}

.questionMark {
    position: absolute;
    left: 49.22%;
    right: 20%;
    top: 42%;
    bottom: 58.76%;
}

.reset {
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;

}

.reset-heading {
    font-family: TT Norms Pro;
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
}

@media (min-width:375px) and (max-width:768px) {
    .reset {
        width: 100%;
        margin-top: 70px;
    }
    .reset .btn {
        font-size: 18px;
        height: 60px;
    }
    
    .reset-heading {
        font-size: 25px;
        font-weight: 700;
        line-height: 43px;
    }
    .reset .input {
        padding: 10px;
        text-align: left;
    }
}

.append{
    width: 100%;
    margin-top: 20px
}

.append-title {
    font-family: "TT Norms Pro";
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
.append-title p{
    margin: 1px;
    font-family: "TT Norms Pro";
    font-weight: 100;
    font-size: 20px;
}


.forgot-password .ringRest {
    align-items: center;
}

.reset-title {
    text-align: center;
    font-size: 23px;
}

.reset-title p {
    margin: 1px;
}

.forgot-password input {
    height: 54px;
    width: 60%;
    border: 0.5px solid #C4C6CD;
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    font-size: 17px;
}
.forgot-password .btn {
    width: 60%;
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
}
.forgot-password input::placeholder {
    font-size: 18px;
}

@media (min-width:375px) and (max-width:768px) {
    .forgot-password .ose {
        width: 80%;
        margin-top: 25px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 18px;
    }
    }

::-webkit-input-placeholder {
    text-align: left;
    font-size: 16px;
}

:-moz-placeholder {
    text-align: left;
    font-size: 16px;
}

/* .forgot-password button {
    height: 60px;
    width: 358px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;

 
    padding: 10px;
    font-family: TT Norms Pro;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #606060;

    margin-top: 30px;
    width: 100%;
} */

.ring {
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.subInfo {
    font-family: TT Norms Pro;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 28px;
}

.tick {
    position: absolute;
    left: 49%;
    top: 42%;
    bottom: 58.76%;
}

.subConfirm {
    text-align: center;
    margin-bottom: 22px;
}

.passwordInput {
    box-sizing: border-box;
    padding-left: 10px;
    vertical-align: top;
}

.passwordInput:focus {
    outline: none;
}

.confirmation {
    box-sizing: border-box;
    padding-left: 10px;
    vertical-align: top;
}

.confirmation:focus {
    outline: none;
}

.iconImg {
    position: absolute;
    top: 12px;
    right: 25px;
    cursor: pointer;
}

#cofirmation,
.confirmation_viewIcon {
    position: absolute;
    top: 12px;
    right: 25px;
    cursor: pointer;
}

.inputs-icon {
    position: relative;
}

.resetImage {
    width: 101px;
    display: block;
    margin: auto;
}

.error {
    color: red;
}

.form-sec1 input[type="checkbox"]:checked {
    accent-color: linear-gradient(90deg, #FACB08 2.41%, #FAE008 90.98%);
}

.applicant a:hover {
    background: linear-gradient(90deg, #FACB08 2.41%, #FAE008 90.98%);
}

.affiliate a:hover {
    background: linear-gradient(90deg, #FACB08 2.41%, #FAE008 90.98%);
}

.form-sec1 select {
    height: 54px;
    width: 358px;
    margin-bottom: 13px;
}

.ref {
    border: none;
    background: #F0F3F4;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    min-width: 10px;
    z-index: 1;
    background-color: #fff;
}

.dropdown-content button,
.dropdown-content a {
    color: #313445;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content button {
    border: none;
    background: white;
    font-size: 19px;
    text-align: left;
    width: 100%;
    font-weight: 500;
}

.dropdown-content button:hover {
    background-color: #e9ecef;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 
   BELOW PROPERTIES AREN'T CRITICAL FOR DESIRED BEHAVIOUR.
   THEY ARE PURELY FOR DEMONSTRATION PURPOSES
  */

/*************Responsive Styles*****************/
/***************iPhone Portrait**************/
@media only screen and (max-width: 479px) and (min-width: 320px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .login .header-sec {

        flex-wrap: wrap;
    }

    .form-sec1 {
        padding: 10px;
        width: 90%;
    }

    .form-sec1 button {
        width: 100%;
    }

    .form-sec1 input {

        width: 100%;
    }

    .login .left-sec {
        display: flex;
        flex-wrap: wrap;

    }

    .login .left-sec a {
        margin-bottom: 10px;
        
    }

    .applicant,
    .affiliate {
        width: 100%;
    }

    .logo img {
        margin-left: 0px;
    }

    .applicant a,
    .affiliate a {
        margin-left: 0px;
        text-align:left;
    }

    .login .signin-right {
        padding-left: 0px;
        padding-right: 0px;
        margin:0px;
    }

    .header-sec {
        padding: 10px;
    }


    .applicant,
    .affiliate {
        width: 130px;
    }


    .forgot-password {
        padding: 0px;
        height: 600px;
    }

}

/**********************iPhone Landscape*************/
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header-sec {
        width: 100%;
    }
}

/*************************iPad Portrait***************/
@media only screen and (max-width: 985px) and (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header-sec {
        width: 100%;
        margin: 0 auto;
    }

    .logo img {
        margin-top: 30px;
        margin-left: 17px;
    }

    .login .signin-right {
        padding-right: 20px;
    }

    .logo {
        width: 100%;
    }

    .login .applicant a, .login .affiliate a {
        padding: 0px;
        margin-left: 20px;
        margin-top: 28px;
        font-size: 15px;

    }

    .login .applicant, .login .affiliate {
        width: 100%;
    }

    .login .applicant {
        margin-left: 5px;
    }

    .form-sec1, .forgot-password {
        padding: 100px;
    }
/* 
    .forgot-password {
        width: 90%;
    } */

}

/**************iPad Landscape***************/
@media only screen and (max-width: 1024px) and (min-width: 986px) {
    .logo img {
        margin-top: 30px;
        margin-left: 15px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header-sec {
        width: 100%;
        margin: 0 auto;
    }

    .login .signin-right {
        padding-right: 20px;
    }

    .applicant a,
    .affiliate a {
        margin-left: 20px;
        margin-top: 32px;
    }

    .login .signin-right a {
        margin-top: 10px;
    }
    
}

/*******************************************/

@media only screen and (max-width: 667px) and (min-width: 375px) {
    .signin-right {
        padding-right: 0px;
        padding-left: 111px;
    }


}

@media only screen and (max-width: 740px) and (min-width: 360px) {
    .signin-right {
        padding-right: 0px;
        padding-left: 111px;
    }
}

@media only screen and (max-width: 1280) {
    .signin-right {
        padding-right: 0px;
        padding-left: 111px;
    }
}

