@import url("https://fonts.googleapis.com/css2?family=TT+norms:wght@400;500;600;700;800&display=swap");
@import url("../fonts/TTNorms-Black.otf");
@import url("../fonts/TTNorms-Bold.otf");
@import url("../fonts/TTNorms-Regular.otf");

a {
    text-decoration: none;
}

body {
    background-color: #F6F7FB;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

input {
    border-radius: 5px;
}

.login .signin-right {
    margin-top: 17px;
    margin-bottom: 17px;
    padding-right: 100px;
}

#activity {
    width: 250px;
    margin:20px;
    margin-top: 10px;
    margin-right: 100px;
    display: absolute;
  }
  
  .divs {  
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    width: 50px;
  }
  /* .divs img {
    width: 100%;
    height: auto;  
  } */

.login .header-sec {
    display: flex;
    justify-content: space-between;
    background-color: white;

}

.login .left-sec {
    display: flex;
}

.login .left-sec a {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color:
        #313445;
    ;
    display: flex;
    align-items: center;
}

.applicant a {
    min-height: 25px;
    padding-left: 30px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 111px;
    text-decoration: none;
    border-radius: 8px;
}
.applicant a:hover {
    background-color: hsl(51, 94%, 50%);
}
.applicant img {
    width: 100%;
    height: auto;
}

.myapplicant a {
    height: 40px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 17px;
    margin-left: 111px;
    align:center;
    text-decoration: none;
    border-radius: 8px;
    background-color: #e9ebf0;
    min-height: 60px;
}
.myapplicant img {
    width: 100%;
    height: auto;
}
.myapplicant a:hover {
    width: 100%;
    min-height: 60px;
    background-color: hsl(51, 94%, 50%);
}

.affiliate a {
    min-height: 25px;
    padding: 10px;
    margin: 17px;
    margin-bottom: 17px;
    margin-left: 111px;
    text-decoration: none;
    border-radius: 8px;
}
.affiliate a:hover {
    background-color: hsl(51, 94%, 50%);
}
.affiliate img {
    width: 100%;
    height: auto;
}

.login .signin-right a {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #313445;

}


.login .signin-right img {

    padding-right: 10px;
}

.login .applicant a span img,
.login .affiliate a span img {
    width: 30px;
    margin-top: 10px;
}

.login .applicant a,
.login .affiliate a {

    background: #F0F3F4;
    padding: 7px;
    border-radius: 10px;
}

.logo a {
    font-family: "TTNormsPro-Black";
    font-weight: 900;
    font-style: normal;
    /* font-size: 60px; */
}
.logo img {
    width: 100%;
    height: auto;

    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 111px;
    /* height: 50px; */
    
}

.form-sec1 {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 70px 203px 70px 203px;
    background-color: #ffffff;
    margin-bottom: 420px;
    margin-top: 250px;
    color: #636466;
}

.form-sec1 h3 {
    font-family: Akrobat;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
}

.form-sec1 p {
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.form-sec1 input {
    height: 54px;
    width: 358px;
    border: 0.5px solid #C4C6CD;
    /* border-radius: 0px; */
    margin-bottom: 13px;
}

.form-sec1 label {
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 400;
    color: #636466;
    padding-bottom: 6px;
    display: inline-flex;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.form-sec1 button {
    height: 60px;
    width: 358px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;

    /* border-radius: 0px; */
    padding: 10px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #606060;

    margin-top: 30px;
}

.form-sec1 .bottom-sec {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-sec1 .bottom-sec a {
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #636466;

}

.form-sec1 .tab-sec {
    display: flex;
    justify-content: space-around;
    margin-bottom: 62px;

    margin-top: 61px;

}

.form-sec1 .tab-sec a {
    font-family: Akrobat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #636466;
    text-align: center;
}

.form-sec1 input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.form-sec1 .check-box {
    display: flex;
}

.form-sec1 .check-box p {
    margin: 0px;
    font-family: Akrobat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;


}

.form-sec1 .check-box p a {
    color: #4B73DE
}

.submitBtn:hover {
    background: linear-gradient(90deg, #FACB08 2.41%, #FAE008 90.98%);
    border-color: none;
}

.signupBtn {
    border-bottom: 1.5px solid #f9bf29;
    width: 132px;
    color: #F6F6F6;
    background-color: none;

}

.forgot-password {
    width: 409px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 70px 203px 70px 203px;
    background-color: #ffffff;
    margin-bottom: 420px;
    margin-top: 250px;
    color: #636466;
    align-content: center;
    height: 760px;
}

.signature {
    width:35%;
    box-shadow: 0px 0px 0px 0.5px#e0d8d881;;
    padding: 20px 10px 20px 10px;
    background-color: #ffffff;
    margin-top: 50px;
    color: #000;
    align-content: center;
    height: 650px;
    border-radius: 10px;
    margin: 0 auto;
}
.signature img {
    margin-block: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 280px;
    padding: 50px;
    background-color: #e0d8d881;
    box-shadow: 0px 0px 0px 1px#e0d8d881;
    border-radius: 20px;
}

.signature button {
    margin: auto;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: none;
    border-color: #606060 1px solid;
    color:#000;
    font-family: "TTNormsPro-Regular";
    font-size: 25px;
    font-weight: bold;
} 

.signature button:hover{
    background-color: #f9bf29;
    border-color: #f9bf29;
} 

.resetPassword {
    margin-top: 195px;
    width: 434px;
}

.input-with-icon {
    /* causes absolute icon div to be positioned correctly */
    position: relative;

    width: 25rem;
    height: 3.2rem;
    box-sizing: border-box;
}

.input-with-icon .form-control {
    height: 100%;
    width: 100%;
    padding-right: 3.65rem;
    box-sizing: border-box;
}

.input-with-icon .icon {
    position: absolute;

    /* These are set relative to the height of the input box to bound the box neatly inside. This is aesthetic to me but you may change the dimensions of course. */
    right: 0.3rem;
    top: 0.3rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.3rem;

    /* content in the icon div is centered, without bootstrap or font-awesome you may wish to add your own text in the span */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input-with-icon {
    margin: 0.8rem;
}

.input-with-icon .form-control {
    padding-left: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.input-with-icon .icon {
    border: 1px solid black;
}

.passwordInput {
    box-sizing: border-box;
    padding-left: 10px;
    vertical-align: top;
}

.passwordInput:focus {
    outline: none;
}

.hiddenIcon {
    position: absolute;
    top: 12px;
    right: 25px;
}

.inputs-icon {
    position: relative;
}

.questionMark {
    position: absolute;
    left: 49.22%;
    right: 20%;
    top: 42%;
    bottom: 58.76%;
}

.reset {
    width: 100%;
    margin-top: 200px
}

.reset-heading {
    font-family: Akrobat;
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
}

.append{
    width: 100%;
    margin-top: 20px
}

.append-title {
    font-family: "TTNormsPro-Black";
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
.append-title p{
    margin: 1px;
    font-family: "TTNormsPro-Regular";
    font-weight: 100;
    font-size: 20px;
}


.forgot-password .ringRest {
    align-items: center;
}

.reset-title {
    text-align: center;
}

.reset-title p {
    margin: 1px;
}

.forgot-password input {
    height: 54px;
    width: 100%;
    border: 0.5px solid #C4C6CD;
    margin-top: 30px;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

.forgot-password button {
    height: 60px;
    width: 358px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;

    /* border-radius: 0px; */
    padding: 10px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #606060;

    margin-top: 30px;
    width: 100%;
}

.ring {
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.subInfo {
    font-family: Akrobat;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 28px;
}

.tick {
    position: absolute;
    left: 49%;
    top: 42%;
    bottom: 58.76%;
}

.subConfirm {
    text-align: center;
    margin-bottom: 22px;
}

.passwordInput {
    box-sizing: border-box;
    padding-left: 10px;
    vertical-align: top;
}

.passwordInput:focus {
    outline: none;
}

.confirmation {
    box-sizing: border-box;
    padding-left: 10px;
    vertical-align: top;
}

.confirmation:focus {
    outline: none;
}

.iconImg {
    position: absolute;
    top: 12px;
    right: 25px;
    cursor: pointer;
}

#cofirmation {
    position: absolute;
    top: 12px;
    right: 25px;
    cursor: pointer;
}

.inputs-icon {
    position: relative;
}

.resetImage {
    width: 101px;
    display: block;
    margin: auto;
}

.error {
    color: red;
}

.form-sec1 input[type="checkbox"]:checked {
    accent-color: linear-gradient(90deg, #FACB08 2.41%, #FAE008 90.98%);
}
/* 
   BELOW PROPERTIES AREN'T CRITICAL FOR DESIRED BEHAVIOUR.
   THEY ARE PURELY FOR DEMONSTRATION PURPOSES
  */

/*************Responsive Styles*****************/
/***************iPhone Portrait**************/
@media only screen and (max-width: 479px) and (min-width: 320px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .login .header-sec {

        flex-wrap: wrap;
    }

    .form-sec1 {
        padding: 0px;
        width: 100%;
    }

    .form-sec1 button {
        width: 100%;
    }

    .form-sec1 input {

        width: 100%;
    }

    .login .left-sec {
        display: flex;
        flex-wrap: wrap;

    }

    .login .left-sec a {
        margin-bottom: 10px;
    }

}

/**********************iPhone Landscape*************/
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header-sec {
        width: 100%;
    }
}

/*************************iPad Portrait***************/
@media only screen and (max-width: 985px) and (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header-sec {
        width: 100%;
        margin: 0 auto;
    }
}

/**************iPad Landscape***************/
@media only screen and (max-width: 1024px) and (min-width: 986px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header-sec {
        width: 100%;
        margin: 0 auto;
    }
}

/*******************************************/

@media only screen and (max-width: 667px) and (min-width: 375px) {
    .signin-right {
        padding-right: 0px;
        padding-left: 111px;
    }
}

@media only screen and (max-width: 740px) and (min-width: 360px) {
    .signin-right {
        padding-right: 0px;
        padding-left: 111px;
    }
}

@media only screen and (max-width: 1280) {
    .signin-right {
        padding-right: 0px;
        padding-left: 111px;
    }
}

@media only screen and (max-width: 1280) {
    .signin-right {
        padding-right: 0px;
        padding-left: 111px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1400px) {
    .ring {
        top: 58%;
    }

    .questionMark {
        top: 54%;
    }

    .tick {
        top: 53%
    }
}

@media only screen and (max-width: 130px) and (min-width: 102px) {
    .forgot-password {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 540px) and (min-width: 360px) {
    .ring {
        top: 46%;
        left: 100%;
    }

    .questionMark {
        top: 43%;
        left: 97%;
    }
}

@media only screen and (max-width: 820px) and (min-width: 700px) {
    .ring {
        top: 33%;
        left: 55%;
    }

    .questionMark {
        top: 31%;
        left: 53%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 700px) {
    .ring {
        top: 42%;
        left: 58%;
    }

    .questionMark {
        top: 39%;
        left: 56%;
    }

}

@media only screen and (max-width: 1000px) and (min-width: 912px) {
    .ring {
        top: 29%;
        left: 50%;
    }

    .questionMark {
        top: 27%;
        left: 48%;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 1000px) {
    .ring {
        top: 64%;
        left: 50%;
    }

    .questionMark {
        top: 59%;
        left: 48%;
    }

}