body {
    background: #F0F3F4;

}

.top-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.payment-form {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 137px 50px 69px 75px;
    margin-top:195px ;
}

.payment h2 {
    font-family: TT Norms;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #636466;
    margin-bottom: 0px;
    letter-spacing: 0em;
}

.payment-detail p {
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin: 0;
    color: #C4C4C4;

}

.payment-heading {
    text-align: center;
}

.left-input {
    display: flex;
    align-items: center;
}

.left-input label {

    margin-right: 15px;
    border: 0.25px solid #CECECE;
    padding: 10px 20px;
    /* width: 40px; */
    height: 40px;

}

.rightside {
    width: 190px;
    padding: 15px 10px;
    border: 0.25px solid #CECECE
}

.rightside .amount {
    display: flex;
    justify-content: end;
}

.rightside p {
    font-family: TT Norms;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
    color: #606060;
}

.rightside .amount p {
    font-family: TT Norms;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    color: #606060;

}

.rightside .amount p span {
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #606060;
}

.payment-form1 .fieldset {
    display: flex;
    justify-content: space-between;
}

.payment-form1 .fieldset input {
    height: 45px;
    width: 302.6755676269531px;
    background-color: #F0F3F4;
    border: 1px solid #F0F3F4;
    margin-bottom: 18px;
    font-family: TT Norms;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
    padding-left: 10px;
    color: #636466;
}

.payment-form1 .fieldset .cvv input {
    height: 46px;
    width: 190px;
}

.payment-form1 select {
    height: 46px;
    width: 190px;
    left: 45.095703125px;
    top: 387px;
    border-radius: 0px;
    background-color: #F0F3F4;
    border: 1px solid #F0F3F4;
    border-radius: 10px;
    padding-left: 10px;
}

.payment-form1 .total,
.payment-form1 .gtotal {
    background: #F0F3F4;
    padding: 16px 17px;
    margin-bottom: 3px;
}

.payment-form1 .total .total-sec,
.payment-form1 .gtotal .total-sec {
    display: flex;
    justify-content: space-between;


}

.payment-form1 .total {
    margin-top: 100px;
}

.payment-form1 .total .total-sec p,
.payment-form1 .gtotal .total-sec p {
    font-family: TT Norms;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #636466;

    letter-spacing: 0em;
}

.payment-form1 .inputs.check-box {
    display: flex;
    margin-top: 17px;
}

.payment-form1 .inputs.check-box p {
    font-family: TT Norms;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #636466;
    margin-left: 8px;

}

.payment-form .payment-heading {
    text-align: center;
    padding-bottom: 80px;
}

.purchase-now {
    font-family: TT Norms;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    display: flex;
    justify-content: center;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    color: #606060;
    border: 1px solid #5F5F5F;
    padding: 13px 40px;
    margin-top: 66px;
}

.purchase-now:hover {
    background: linear-gradient(90deg, #FACB08 2.41%, #FAE008 90.98%);
    border-color: none;
}

.payment-form1 input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

input::placeholder {
                 
    /* Firefox, Chrome, Opera */
    text-align: left;
}

input:-ms-input-placeholder {
                 
    /* Internet Explorer 10-11 */
    text-align: left;
}

input::-ms-input-placeholder {
    text-align: left;
}