@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-Regular.eot');
  src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
      url('TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('TTNormsPro-Regular.woff2') format('woff2'),
      url('TTNormsPro-Regular.woff') format('woff'),
      url('TTNormsPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
a {

  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

.about-desc {
  padding: 3em 3em 2em 3em; 
}

.about-decc {
  padding: 1em 1em 1.5em 0.5em; 
}
  .about-desc h2 {
    font-weight: 700; }

.fancy-collapse-panel .panel-default > .panel-heading {
  padding: 0; }

.panel-heading a {
  font-family: "TT Norms Pro";
  padding: 0 25px;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  background-color: none;
  color: #000;
  position: relative;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: 0 4px 2px -2px #000;
}

.panel-title {
  
  font-family: "TT Norms Pro";
  font-weight: 400; 
}

.panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;

  border: none; }

.panel-heading a:after {
  font-family: "TT Norms Pro";
  content: "\25AC"; /*content: url(image.jpg); */
  position: absolute;
  left: 0px;
 
  font-size: 24px;
  font-weight:400;
  top: 35%;
  line-height: 1;
  margin-top: -10px; 

  /* content: 'text that follows 1';
  background: url(https://unsplash.it/18) left center no-repeat;
  vertical-align: middle;
  background-size: 16px auto;
  padding-left: 20px; */
}

.panel-heading a.collapsed:after {
  font-family: "TT Norms Pro";
  content: "\271A"; 
  font-size: 27px;
  font-weight:400;
}

.panel-heading a.collapsed {
  font-family: "TT Norms Pro";
  color: #000; }

.panel-body {
  font-family: "TT Norms Pro";
  font-size: 18px;
  padding: 1.5em;
  margin-top: 5px;
  border: 0px solid #e6e6e6 !important; }


  .paneled-heading a {
    font-family: "TT Norms Pro";
    padding: 10px 0px 0px 25px;
    vertical-align: middle;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    text-transform:capitalize;
    background-color: none;
    color: #000;
    position: relative;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: 0 4px 2px -2px #000;
  }
    
  .paneled-heading a:after {
    font-family: "TT Norms Pro";
    content: "\25AC"; /*content: url(image.jpg); */
    position: absolute;
    left: 0px;
   
    font-size: 14px;
    font-weight:400;
    top: 45%;
    line-height: 1;
    margin-left: 5px;
    margin-top: -1px; 
  
    /* content: 'text that follows 1';
    background: url(https://unsplash.it/18) left center no-repeat;
    vertical-align: middle;
    background-size: 16px auto;
    padding-left: 20px; */
  }
  
  .paneled-heading a.collapsed:after {
    font-family: "TT Norms Pro";
    content: "\271A"; 
    font-size: 17px;
    font-weight:400;
  }
  
  .paneled-heading a.collapsed {
    font-family: "TT Norms Pro";
    color: #000; }
  
  .paneled-body {
    font-family: "TT Norms Pro";
    font-size: 18px;
    padding: 1em;
    margin-top: -10px;
    text-align: justify;
    border: 0px solid #e6e6e6 !important; }
  
  

.row-pb-lg {
  padding-bottom: 7em !important; }

.row-pb-md {
  padding-bottom: 5em !important; }

.row-pb-sm {
  padding-bottom: 3em !important; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.js .animate-box {
  opacity: 0; }
