@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-Regular.eot');
  src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
      url('TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('TTNormsPro-Regular.woff2') format('woff2'),
      url('TTNormsPro-Regular.woff') format('woff'),
      url('TTNormsPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
a {
  color: #6495ED;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #6495ED;
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

.about-desc {
  padding: 3em 3em 2em 3em; 
}
  .about-desc h2 {
    font-weight: 700; }

.fancy-collapse-panel .panel-default > .panel-heading {
  padding: 0; }

.panel-heading a {
  padding: 0 25px;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  background-color: none;
  color: #000;
  position: relative;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: 0 4px 2px -2px #000;
}

.panel-title {
  font-family: "TT Norms Pro";
  font-weight: 400; 
}

.panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: 0 4px 2px -2px gray;
  border: none; }

.panel-heading a:after {
  font-family: "TT Norms Pro";
  content: "\25AC"; /*content: url(image.jpg); */
  position: absolute;
  left: 0px;
 
  font-size: 24px;
  font-weight:400;
  top: 35%;
  line-height: 1;
  margin-top: -10px; 

  /* content: 'text that follows 1';
  background: url(https://unsplash.it/18) left center no-repeat;
  vertical-align: middle;
  background-size: 16px auto;
  padding-left: 20px; */
}

.panel-heading a.collapsed:after {
  content: "\271A"; 
  font-size: 27px;
  font-weight:400;
}

.panel-heading a.collapsed {
  background: #f2f3f7;
  border: 1px solid #e6e6e6 !important;
  color: #333333; }

.panel-body {
  padding: 1.5em;
  margin-top: 5px;
  border: 1px solid #e6e6e6 !important; }



.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .btn.with-arrow:hover {
    padding-right: 50px; }
    .btn.with-arrow:hover i {
      color: #fff;
      right: 18px;
      visibility: visible;
      opacity: 1; }

.row-pb-lg {
  padding-bottom: 7em !important; }

.row-pb-md {
  padding-bottom: 5em !important; }

.row-pb-sm {
  padding-bottom: 3em !important; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.js .animate-box {
  opacity: 0; }
